name: Build
on: [push, workflow_dispatch]

jobs:
  android:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Buildozer Action
        uses: ArtemSashko/buildozer-action@v1.2
        with:
          command: buildozer android debug
          buildozer_version: master

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Quran-App
          path: bin/*.apk
          
